# EDA: Diagnosing Diabetes

In this project, you'll imagine you are a data scientist interested in exploring data that looks at how certain diagnostic factors affect the diabetes outcome of women patients.

You will use your EDA skills to help inspect, clean, and validate the data.

**Note**: This [dataset](https://www.kaggle.com/uciml/pima-indians-diabetes-database) is from the National Institute of Diabetes and Digestive and Kidney Diseases. It contains the following columns:

- `Pregnancies`: Number of times pregnant
- `Glucose`: Plasma glucose concentration per 2 hours in an oral glucose tolerance test
- `BloodPressure`: Diastolic blood pressure
- `SkinThickness`: Triceps skinfold thickness
- `Insulin`: 2-Hour serum insulin
- `BMI`: Body mass index
- `DiabetesPedigreeFunction`: Diabetes pedigree function
- `Age`: Age (years)
- `Outcome`: Class variable (0 or 1)

Let's get started!

## Initial Inspection

1. First, familiarize yourself with the dataset [here](https://www.kaggle.com/uciml/pima-indians-diabetes-database).

   Look at each of the nine columns in the documentation.
   
   What do you expect each data type to be?

Expected data type for each column:

- `Pregnancies`: int
- `Glucose`: float
- `BloodPressure`: float 
- `SkinThickness`: float
- `Insulin`: float
- `BMI`: float
- `DiabetesPedigreeFunction`: float?
- `Age`: int
- `Outcome`: boolean

2. Next, let's load in the diabetes data to start exploring.

   Load the data in a variable called `diabetes_data` and print the first few rows.
   
   **Note**: The data is stored in a file called `diabetes.csv`.

In [2]:
import pandas as pd
import numpy as np

# load in data
diabetes_data = pd.read_csv('diabetes.csv')

3. How many columns (features) does the data contain?

In [8]:
# print number of columns
print(diabetes_data.columns )

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

4. How many rows (observations) does the data contain?

In [10]:
# print number of rows
print(len(diabetes_data))

768

In [11]:
#or we could get both values from INFO:
print(diabetes_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB
None

## Further Inspection

5. Let's inspect `diabetes_data` further.

   Do any of the columns in the data contain null (missing) values?

In [12]:
# find whether columns contain null values
print(diabetes_data.describe(include='all'))

        Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count    768.000000  768.000000     768.000000     768.000000  768.000000
unique          NaN         NaN            NaN            NaN         NaN
top             NaN         NaN            NaN            NaN         NaN
freq            NaN         NaN            NaN            NaN         NaN
mean       3.845052  120.894531      69.105469      20.536458   79.799479
std        3.369578   31.972618      19.355807      15.952218  115.244002
min        0.000000    0.000000       0.000000       0.000000    0.000000
25%        1.000000   99.000000      62.000000       0.000000    0.000000
50%        3.000000  117.000000      72.000000      23.000000   30.500000
75%        6.000000  140.250000      80.000000      32.000000  127.250000
max       17.000000  199.000000     122.000000      99.000000  846.000000

               BMI  DiabetesPedigreeFunction         Age Outcome
count   768.000000                768.000000  768.000000     768
unique         NaN                       NaN         NaN       3
top            NaN                       NaN         NaN       0
freq           NaN                       NaN         NaN     494
mean     31.992578                  0.471876   33.240885     NaN
std       7.884160                  0.331329   11.760232     NaN
min       0.000000                  0.078000   21.000000     NaN
25%      27.300000                  0.243750   24.000000     NaN
50%      32.000000                  0.372500   29.000000     NaN
75%      36.600000                  0.626250   41.000000     NaN
max      67.100000                  2.420000   81.000000     NaN

6. If you answered no to the question above, not so fast!

   While it's technically true that none of the columns contain null values, that doesn't necessarily mean that the data isn't missing any values.
   
   When exploring data, you should always question your assumptions and try to dig deeper.
   
   To investigate further, calculate summary statistics on `diabetes_data` using the `.describe()` method.

In [13]:
# done above

7. Looking at the summary statistics, do you notice anything odd about the following columns?

   - `Glucose`
   - `BloodPressure`
   - `SkinThickness`
   - `Insulin`
   - `BMI`

**Your response to question 7**: we have NaN in all columns

8. Do you spot any other outliers in the data?

In [17]:
diabetes_data['Glucose'].value_counts()

Glucose
99     17
100    17
111    14
129    14
125    14
       ..
191     1
177     1
44      1
62      1
190     1
Name: count, Length: 136, dtype: int64

**Your response to question 8**:

9. Let's see if we can get a more accurate view of the missing values in the data.

   Use the following code to replace the instances of `0` with `NaN` in the five columns mentioned:
   
   ```py
   diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)
   ```

In [19]:
# replace instances of 0 with NaN
diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[[
    'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)

10. Next, check for missing (null) values in all of the columns just like you did in Step 5.

    Now how many missing values are there?

In [20]:
# find whether columns contain null values after replacements are made
print(diabetes_data.describe(include='all'))

        Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count    768.000000  763.000000     733.000000     541.000000  394.000000
unique          NaN         NaN            NaN            NaN         NaN
top             NaN         NaN            NaN            NaN         NaN
freq            NaN         NaN            NaN            NaN         NaN
mean       3.845052  121.686763      72.405184      29.153420  155.548223
std        3.369578   30.535641      12.382158      10.476982  118.775855
min        0.000000   44.000000      24.000000       7.000000   14.000000
25%        1.000000   99.000000      64.000000      22.000000   76.250000
50%        3.000000  117.000000      72.000000      29.000000  125.000000
75%        6.000000  141.000000      80.000000      36.000000  190.000000
max       17.000000  199.000000     122.000000      99.000000  846.000000

               BMI  DiabetesPedigreeFunction         Age Outcome
count   757.000000                768.000000  768.000000     768
unique         NaN                       NaN         NaN       3
top            NaN                       NaN         NaN       0
freq           NaN                       NaN         NaN     494
mean     32.457464                  0.471876   33.240885     NaN
std       6.924988                  0.331329   11.760232     NaN
min      18.200000                  0.078000   21.000000     NaN
25%      27.500000                  0.243750   24.000000     NaN
50%      32.300000                  0.372500   29.000000     NaN
75%      36.600000                  0.626250   41.000000     NaN
max      67.100000                  2.420000   81.000000     NaN

11. Let's take a closer look at these rows to get a better idea of _why_ some data might be missing.

    Print out all the rows that contain missing (null) values.

In [22]:
# print rows with missing values
diabetes_data[ diabetes_data.isnull().any(axis=1) ]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
...,...,...,...,...,...,...,...,...,...
761,9,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9,89.0,62.0,NaN,NaN,22.5,0.142,33,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

12. Go through the rows with missing data. Do you notice any patterns or overlaps between the missing data?

**Your response to question 12**: not yet

13. Next, take a closer look at the data types of each column in `diabetes_data`.

    Does the result match what you would expect?

In [24]:
# print data types using .info() method
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB

14. To figure out why the `Outcome` column is of type `object` (string) instead of type `int64`, print out the unique values in the `Outcome` column.

In [36]:
# print unique values of Outcome column
print(diabetes_data.Outcome.value_counts()) # here we see that we have O intead of 0 in 6 instances
diabetes_data.Outcome = diabetes_data.Outcome.replace('O',0)
print(diabetes_data.Outcome.value_counts()) 

diabetes_data[diabetes_data.Outcome=='0'] # the values are now converted to 0 as a string -> need to convert all to int
diabetes_data.Outcome = diabetes_data.Outcome.astype('int64')

print(diabetes_data.Outcome.value_counts()) #solved :)

Outcome
0    500
1    268
Name: count, dtype: int64
Outcome
0    500
1    268
Name: count, dtype: int64
Outcome
0    500
1    268
Name: count, dtype: int64

15. How might you resolve this issue?

**Your response to question 15**: solved above

## Next Steps:

16. Congratulations! In this project, you saw how EDA can help with the initial data inspection and cleaning process. This is an important step as it helps to keep your datasets clean and reliable.

    Here are some ways you might extend this project if you'd like:
    - Use `.value_counts()` to more fully explore the values in each column.
    - Investigate other outliers in the data that may be easily overlooked.
    - Instead of changing the `0` values in the five columns to `NaN`, try replacing the values with the median or mean of each column.

### Let's explore each column

In [ ]:
# Pregnancies	Glucose	BloodPressure	SkinThickness	Insulin	BMI	DiabetesPedigreeFunction	Age	Outcome

In [37]:
diabetes_data.describe(include='all')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [39]:
diabetes_data.value_counts()

Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin  BMI   DiabetesPedigreeFunction  Age  Outcome
0            74.0     52.0           10.0           36.0     27.8  0.269                     22   0          1
4            117.0    64.0           27.0           120.0    33.2  0.230                     24   0          1
             111.0    72.0           47.0           207.0    37.1  1.390                     56   1          1
             110.0    76.0           20.0           100.0    28.4  0.118                     27   0          1
             109.0    64.0           44.0           99.0     34.8  0.905                     26   1          1
                                                                                                            ..
1            131.0    64.0           14.0           415.0    23.7  0.389                     21   0          1
             130.0    70.0           13.0           105.0    25.9  0.472                     22   0          1
                      60.0           23.0           170.0    28.6  0.692                     21   0          1
             128.0    98.0           41.0           58.0     32.0  1.321                     33   1          1
17           163.0    72.0           41.0           114.0    40.9  0.817                     47   1          1
Name: count, Length: 392, dtype: int64

In [40]:
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB